
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
    display: flex;
    flex-direction: column;
}
text {
    font-family: Verdana, Arial, sans-serif;
}

.blink {
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
@keyframes blinker { to { opacity: 0; } }

#title {
    height: 2em;
    background-color: #ececec;
    color: #020202ba;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#title .icon{
    width: 1em;
    height: 1em;
}

#root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1em;
}
#mainList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #8080808a;
    text-decoration: underline;
}
.icon {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}



.mainList {
    flex: 1;
    border-collapse: collapse;
    margin: 1em;
    border: 1px solid grey;
}
